form li{
list-style:none;
margin-bottom:30px;
border-bottom:1px solid black;
}

.rounded_border, .rounded_top_left{
	border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
}
.rounded_border, .rounded_top_right{
	border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
}
.rounded_border, .rounded_bottom_left{
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
}
.rounded_border, .rounded_bottom_right{
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.showcase_box_elements{
#display:none;	
}

.cursor_pointer{
	cursor:pointer;
}


